################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Riktam.Groups/Riktam.Groups.Domain.Shared/obj
/src/Riktam.Users/src/Riktam.Users.Api/obj
/src/.vs/Riktam.GroupChat
/src/Riktam.GroupChat.Apis/obj
/src/Riktam.GroupChat.Domain/obj
/src/Riktam.GroupChat.MSSqlDbProvider/obj
/src/Riktam.GroupChat.Apis/bin/Debug/net6.0
/src/Riktam.GroupChat.Domain/bin/Debug/net6.0
/src/Riktam.GroupChat.MSSqlDbProvider/bin/Debug/net6.0
/src/Riktam.GroupChat.SqlDbProvider/bin/Debug/net6.0
/src/Riktam.GroupChat.SqlDbProvider/obj
/src/Riktam.GroupChat.Tests.Behavioral/obj
/src/Riktam.GroupChat.Tests.Common/obj
/src/Riktam.GroupChat.Tests.EndToEnd/obj
/src/Riktam.GroupChat.Tests.Behavioral/bin/Debug/net6.0
/src/Riktam.GroupChat.Tests.Common/bin/Debug/net6.0
/src/Riktam.GroupChat.Tests.EndToEnd/bin/Debug/net6.0
